@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto' , sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/features';
@import 'blocks/title';
@import 'blocks/works';
@import 'blocks/divider';
@import 'blocks/subtitle';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/manager';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/questions';
@import 'blocks/maps';
@import 'blocks/footer';
@import 'blocks/media';