.manager {
    padding: 58px 0 75px 0;
    background: url('../../img/bg/city.png') (center/cover) no-repeat;
    &__icon {
    display: block;
    margin: 0 auto;
    }
    &__title {
        margin-top: 20px;
        text-align: center;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
    }
    &__descr {
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-top: 18px;
    }
}